ul a {
  transition: color 0.3s ease, transform 0.3s ease;
}

html[data-theme='light'] ul a {
  color: black;
}

html[data-theme='light'] ul a.active {
  color: #228B22;
  text-decoration: underline;
}

html[data-theme='dark'] ul a {
  color: white;
}

html[data-theme='dark'] ul a.active {
  color: #228B22;
  text-decoration: underline;
}

ul a:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}